attrs==18.1.0
coverage==4.5.1
Django==2.0.5
more-itertools==4.1.0
pkg-resources==0.0.0
pluggy==0.6.0
py==1.5.3
pytest==3.5.1
pytest-cov==2.5.1
pytest-django==3.2.1
pytz==2018.4
six==1.11.0
yapf==0.21.0
